/* 
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative; 
  
} */

 .body,
 .mask {
     height: auto;
     /* Allows content to adapt to the text */
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #AA9E8B;
    
     font-size: 64px;
     line-height: 1.2;
     /* Keeps lines close but readable */
     cursor: default;
     padding: 20px;
     /* Adds space around text within the container */
     box-sizing: border-box;
 }

 .para {
     font-family: "Rubik Wet Paint", system-ui;
     font-weight: 400;
     font-style: normal;
     text-align: center;
     
     overflow-wrap: break-word;
     padding: 10px 20px;
     
     margin: 0;
     
    
     /* font-size: 2.2rem; */
     
     line-height: 1.5;
     width: 70%;
     
 }

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Makes the mask cover the full container */
    height: 100%;
    /* Ensures the mask stays within bounds */
    background-color: #EB5939;
    /* -webkit-mask-image: url(../assets/mask2.svg); */
    /* Ensures cross-browser compatibility */
    mask-image: url(../assets/mask2.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
    z-index: 1000;
    /* Cover ensures the mask scales to the element */
}
