
.paragraph {
    display: inline-flex;
    flex-wrap: wrap;
    line-height: 1;
   
    font-size: rem;
   
    gap: 0px;
   
    /* font-family: "Teko", system-ui; */
    font-family: "avant garde","teko";
   
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    /* width: 80%; */
  /* margin-left: 10vw; */
    align-items: center;
    justify-content: center;
    text-align: center;
}




.word {
    display: inline-flex;
    margin-right: 0.8rem
    /* gap: 3px; */
    /* No gap between characters */
}

.characterContainer {
    position: relative;
    display: inline-flex;
    letter-spacing: -1.5em;
    /* Tighter character spacing */
    padding: 0;
    margin: 0;
}
.shadow {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(186, 182, 182, 0.3);
    /* Shadow color */
    z-index: -1;
    /* Position shadow behind text */
    transform: translateY(2px);
    /* Shadow alignment */
}